.sidebar {
    margin: 5px;
    background-color: #000;
    width: 20%;
    height: 610px;
    border-radius: 5px;
}

.sidebar h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar ul {
    padding: 0px 30px;
}

.sidebar li {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    height: 50px;

}

.sidebar li:hover{
    background-color: #006603;
    cursor: pointer;
    border-radius: 5px;     
}