.sidebar {
    margin: 5px;
    background-color: #000;
    width: 20%;
    height: 610px;
    border-radius: 5px;
}

.sidebar h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar li {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    height: 40px;

}

.sidebar li:hover{
    background-color: #006603;
    cursor: pointer;
    
}